
@model List<ATS.Core.Domain.DTO.EmployeeViewModel>

@{
    Layout = null;
}
@if (ViewBag.IsPDF == true)
{
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        table, th {
            height: 50px;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }
    </style>

    <div>
        <div>
            <div style="text-align:left;">
                <img style="width:80px;height:80px" src="@Server.MapPath("~/Images/ATS.png")" alt="" />
                <h3 style="text-align:center">Attendance for ADPMCL Employees for the month of @string.Format("{0:MMMM}", Model.Select(x => x.MonthDate).FirstOrDefault()) @string.Format("{0:yyyy}", Model.Select(x => x.MonthDate).FirstOrDefault())</h3>
            </div>
        </div>
        @*<div>
                <label>Total OT Hrs:<b>@Model.Select(x => x.Total).FirstOrDefault() </b></label>
            </div>*@
        <table cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>
                        S.No.
                    </th>
                    <th>
                        Employee No.
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Designation
                    </th>
                    <th>
                        Sick Leaves
                    </th>
                    @*<th>
                            Ann Adjust Leaves
                        </th>*@
                    <th>
                        Absent
                    </th>
                    <th>
                        ToPay
                    </th>
                    <th>
                        Normal
                    </th>
                    <th>
                        WeekOff
                    </th>
                    <th>
                        Holiday
                    </th>
                    <th>
                        Night OT
                    </th>
                    <th>
                        Remark
                    </th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model)
                    {*@
                @for (int i = 0; i < Model.Count; i++)
                {
                    int count = i + 1;
                    <tr>
                        <td>@count</td>
                        <td>@Model[i].EmployeeCode</td>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Department</td>
                        <td>@Model[i].Designation</td>
                        <td>@Model[i].SickLeave</td>
                        @* <td>@item.AdjustAnnLeave</td>*@
                        <td>@Model[i].Absent</td>
                        <td>@Model[i].ToPay</td>
                        <td>@Model[i].OT1</td>
                        <td>@Model[i].OT2</td>
                        <td>@Model[i].OT3</td>
                        <td>@Model[i].OT4</td>
                        <td>@Model[i].Remarks</td>
                    </tr>
                }
                @* }*@
            </tbody>
        </table>
    </div>
}
else
{

    <link href="@Url.Content("~/Content/ej/web/Default-theme/ej.widgets.all.min.css")" rel="stylesheet" />

    <style type="text/css" media="print">
        @@page {
            size: A4;
            margin: 0;
        }

        html, body {
            width: 210mm;
            height: 297mm;
        }
    </style>

    <div style="text-align:center;margin-bottom:10px;">
        <img style="float:left" src="~/Images/ATS.png" alt="Alternate Text" />
        <h3>All Employee Report</h3>
    </div>
    <div class="e-grid e-js ">
        <div class="e-gridheader">
            <div>
                <table class="e-table" cellspacing="0.25px" role="grid">
                    <colgroup>
                        <col style="width: 50px;">
                        <col style="width: 100px;">
                        <col style="width: 90px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 80px;">
                    </colgroup>
                    <thead>
                        <tr class="e-columnheader">
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="EmployeeCode" style="text-align: center;">Employee Code</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Name" style="text-align: left;">Name</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Designation" style="text-align: center;">Designation</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="SickLeave" style="text-align: center;">Sick leaves</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="AdjustAnnLeave" style="text-align: center;">Ann Adjust Leaves</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Absent" style="text-align: center;">Absent</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="ToPay" style="text-align: center;">ToPay</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT1" style="text-align: center;">Normal</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT2" style="text-align: center;">WeekOff</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT3" style="text-align: center;">Holiday</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT4" style="text-align: center;">Night OT</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Remarks" style="text-align: center;">Remark</div></th>
                        </tr>
                    </thead>
                    <tbody class="e-hide">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="e-gridcontent">
            <div>
                <table class="e-table" cellspacing="0.25px" role="grid">
                    <colgroup>
                        <col style="width: 50px;">
                        <col style="width: 100px;">
                        <col style="width: 80px;">
                        <col style="width: 50px;">
                        <col style="width: 55px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 85px;">
                    </colgroup>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="e-row" role="row">
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.EmployeeCode</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: left;">@item.Name</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.Designation</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.SickLeave</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.AdjustAnnLeave</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.Absent</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.ToPay</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT1</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT2</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT3</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT4</td>
                                <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.Remarks</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}






