
@model List<ATS.Core.Domain.DTO.AttendanceViewModel>

@{
    Layout = null;
}
@if (ViewBag.IsPDF == true)
{
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        table, th {
            height: 50px;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }
    </style>

    <div>
        <div style="text-align:left;margin-bottom:10px;">
            <img src="@Server.MapPath("~/Images/ATS.png")" alt="" />
            <h3 style="text-align:center">Daily OT Approval Report</h3>
        </div>
        <div>
            @*<div>
                <label>Date&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>@Model.Select(x => x.Date).FirstOrDefault()</b></label>
            </div>*@            
            @*<div>
                <label>Department&nbsp;:&nbsp;&nbsp;&nbsp;<b>@Model.Select(x => x.Department).FirstOrDefault()</b></label>
            </div>*@
        </div>
        <br />
        <div>
            <label>Total Hrs:-&nbsp;&nbsp;<b>@Model.Select(x => x.SumTotalHrs).FirstOrDefault()</b>&nbsp;&nbsp;</label>
            <label>Total OT Hrs:-&nbsp;&nbsp;<b>@Model.Select(x => x.Total).FirstOrDefault()</b>&nbsp;&nbsp;</label>
            <label>Normal OT:-&nbsp;&nbsp;<b>@Model.Select(x => x.TotalOT1).FirstOrDefault()</b>&nbsp;&nbsp;</label>
            <label>Weekly Off OT:-&nbsp;&nbsp;<b>@Model.Select(x => x.TotalOT2).FirstOrDefault()</b>&nbsp;&nbsp;</label>
            <label>Public Holiday OT:-&nbsp;&nbsp;<b>@Model.Select(x => x.TotalOT3).FirstOrDefault()</b>&nbsp;&nbsp;</label>
            <label>Night OT:-&nbsp;&nbsp;<b>@Model.Select(x => x.TotalOT4).FirstOrDefault()</b>&nbsp;&nbsp;</label>
        </div>
        <table cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        E/c
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Check-in
                    </th>
                    <th>
                        Check-out
                    </th>
                    <th>
                        Tot.Hrs
                    </th>
                    <th>
                        OT.Hrs
                    </th>
                    <th>
                        Normal (OT1)
                    </th>
                    <th>
                        WeeklyOff (OT2)
                    </th>
                    <th>
                        Holiday (OT3)
                    </th>
                    <th>
                        Night (OT4)
                    </th>
                    <th>
                        Remark
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@string.Format("{0:dd-MMM-yyyy}", item.Date)</td>
                        <td>@item.EmployeeCode</td>
                        <td>@item.Name</td>
                        <td>@item.Department</td>
                        <td>@item.TimeIn</td>
                        <td>@item.TimeOut</td>
                        <td>@item.TotalHours</td>
                        <td>@item.TotalOT</td>
                        <td>@item.OT1</td>
                        <td>@item.OT2</td>
                        <td>@item.OT3</td>
                        <td>@item.OT4</td>
                        <td>@item.Remarks</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{

    <link href="@Url.Content("~/Content/ej/web/Default-theme/ej.widgets.all.min.css")" rel="stylesheet" />

    <style type="text/css" media="print">
        @@page {
            size: A4;
            margin: 0;
        }

        html, body {
            width: 210mm;
            height: 297mm;
        }
    </style>

    <div style="text-align:center;margin-bottom:10px;">
        <img src="~/Images/ATS.png" alt="Alternate Text" />
        <h3>Daily OT Approval Report</h3>
    </div>
    <div>
        <label>Total Hrs:<b>@Model.Select(x => x.SumTotalHrs).FirstOrDefault()</b></label>
        <label>Total OT Hrs:<b>@Model.Select(x => x.Total).FirstOrDefault()</b></label>
        <label>Total OT1 Hrs:<b>@Model.Select(x => x.TotalOT1).FirstOrDefault()</b></label>
        <label>Total OT2 Hrs:<b>@Model.Select(x => x.TotalOT2).FirstOrDefault()</b></label>
        <label>Total OT3 Hrs:<b>@Model.Select(x => x.TotalOT3).FirstOrDefault()</b></label>
        <label>Total OT4 Hrs:<b>@Model.Select(x => x.TotalOT4).FirstOrDefault()</b></label>
    </div>

    <div class="e-grid e-js ">
        <div class="e-gridheader">
            <div>
                <table class="e-table" cellspacing="0.25px" role="grid">
                    <colgroup>
                        <col style="width: 60px;">
                        <col style="width: 50px;">
                        <col style="width: 80px;">
                        <col style="width: 80px;">
                        <col style="width: 70px;">
                        <col style="width: 75px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 50px;">
                        <col style="width: 60px;">
                        <col style="width: 60px;">
                        <col style="width: 60px;">
                        <col style="width: 80px;">
                    </colgroup>
                    <thead>
                        <tr class="e-columnheader">
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Date" style="text-align: center;">Date</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="EmployeeCode" style="text-align: center;">E/c</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Name" style="text-align: left;">Name</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Department" style="text-align: right;">Department</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="TimeIn" style="text-align: right;">Check-in</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="TimeOut" style="text-align: left;">Check-out</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="TotalHours" style="text-align: right;">Tot.Hrs</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="TotalOT" style="text-align: right;">OT.Hrs</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT1" style="text-align: right;">Normal (OT1)</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT2" style="text-align: right;">WeekOff (OT2)</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT3" style="text-align: right;">Holiday (OT3)</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="OT4" style="text-align: right;">Night(OT4)</div></th>
                            <th class="e-headercell e-default" role="columnheader"><div class="e-headercelldiv" ej-mappingname="Remarks" style="text-align: right;">Remark</div></th>
                        </tr>
                    </thead>
                    <tbody class="e-hide">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="e-gridcontent">
            <div>
                <table class="e-table" cellspacing="0.25px" role="grid">
                    <colgroup>
                        <col style="width: 60px;">
                        <col style="width: 60px;">
                        <col style="width: 80px;">
                        <col style="width: 80px;">
                        <col style="width: 75px;">
                        <col style="width: 80px;">
                        <col style="width: 80px;">
                        <col style="width: 75px;">
                        <col style="width: 50px;">
                        <col style="width: 60px;">
                        <col style="width: 60px;">
                        <col style="width: 60px;">
                        <col style="width: 85px;">
                    </colgroup>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr class="e-row" role="row">
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.Date</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.EmployeeCode</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.Name</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.Department</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.TimeIn</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.TimeOut</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.TotalHours</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.TotalOT</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT1</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT2</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT3</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.OT4</td>
                            <td class="e-rowcell" role="gridcell" style="text-align: center;">@item.Remarks</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    
}
<div>    
    <div style="margin-top:30px">
        Admin: _______________
    </div>
    <div style="margin-top:30px">
        Shift Officer: _______________
    </div>
    <div style="margin-top:30px">
        Dept Head: _______________
    </div>
    <div style="margin-top:30px">
        GM: _______________
    </div>
</div>






