
@model ATS.Core.Domain.DTO.AttendanceViewModel

@{
    ViewBag.Title = "SingleEmployeeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .datepicker-orient-top {
        top: 337px !important;
    }
</style>

<div class="panel" id="salaryLoad">
    <header class="panel-heading">
        <h3 class="panel-title">Single Employee Report</h3>
    </header>

    <div class="panel-body">

        <div class="row">

            <div class="row col-lg-6">
                <form action="@Url.Action("SingleEmployeeReportDataSource", "Reports")" method="get" id="frmsingleEmployeeReport" target="_blank">
                    @Html.HiddenFor(x => x.EmployeeCode)
                    @Html.HiddenFor(x => x.Name)
                    <input type="hidden" name="startdate" id="hdstartdate" />
                    <input type="hidden" name="enddate" id="hdenddate" />
                    <input type="hidden" name="employeename" id="hdemployeename" />
                    <input type="hidden" name="employeecode" id="hdemployeecode" />
                    <input type="hidden" id="pdf" name="pdf" value="true" />
                    <div class="col-lg-6">
                        <div class="form-group form-material">
                            <label class="control-label" for="select">Employee Name</label>
                            @{

                                Html.EJ()
                                .Autocomplete("Employee").CssClass("form-control")
                                .Datasource(ds => ds.URL(Url.Action("Employees", "Home")).Adaptor("UrlAdaptor").Offline(false))
                                .AutocompleteFields(e => e.Text("Name").Key("Id"))
                                .ShowPopupButton(true).WatermarkText("Search Employee").Width("100%")
                                .ClientSideEvents(e => e.Change("EmployeeChange").FocusOut("focusOut").ActionComplete("EmployeeSelected"))
                                .Render();

                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group form-material">
                            <label class="control-label" for="select">Employee Code</label>
                            @{

                                Html.EJ()
                                .Autocomplete("EmpCode").CssClass("form-control")
                                .Datasource(ds => ds.URL(Url.Action("EmployeeCode", "Home")).Adaptor("UrlAdaptor").Offline(false))
                                .AutocompleteFields(e => e.Text("EmployeeCode").Key("Id"))
                                .ShowPopupButton(true).WatermarkText("Search EmployeeCode").Width("100%")
                                .ClientSideEvents(e => e.Change("EmployeeCodeChange").FocusOut("focusOut").ActionComplete("EmployeeCodeSelected"))
                                .Render();

                            }
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="inputBasicFirstName">Start Date</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" id="startdate" class="form-control" name="ConnectionDate" data-plugin="datepicker" data-date-format="mm/dd/yyyy">
                            <br />
                            @*<input type="text" id="date">*@
                            @*@Html.EJ().DatePicker("TimeInPicker").DateFormat("MMMM y").Value(DateTime.Now).Width("100%").ClientSideEvents(e => e.Change("TimeInChange"))*@
                            @*@Html.EJ().DatePicker("datepicker").Value(DateTime.Now).Format("MMMM y").Start(Syncfusion.EJ.Calendars.CalendarView.Year).Depth(Syncfusion.EJ.Calendars.CalendarView.Year).Render()*@
                        </div>
                    </div>

                    <div class="row form-group col-sm-6">
                        <label class="control-label" for="inputBasicFirstName">End Date</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" id="enddate" class="form-control" name="ConnectionDate" data-plugin="datepicker" data-date-format="mm/dd/yyyy">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-5">
                            <button type="button" onclick="fn_search()" class="btn btn-primary">Submit </button>
                            <button type="reset" onclick="fn_reset()" class="btn btn-default btn-outline">Reset</button>
                            <button type="button" id="btnpdf" class="btn btn-primary">PDF</button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-lg-8">

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <div class="row col-lg-12">
            <div class="row">
                <div class="col-md-2 col-md-offset-5 loaderhides" id="id_loader">
                    <img src="~/Images/ajax-loader.gif" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:30px">
            <div class="col-lg-3">
                <label>Name:<b id="singleEmpName"></b></label>
            </div>
            <div class="col-lg-3">
                <label>Emp Code:<b id="singleEmpCode"></b></label>
            </div>
            <div class="col-lg-3">
                <label>Designation:<b id="singleDesignation"></b></label>
            </div>
            <div class="col-lg-3">
                <label>Department:<b id="singleDepartment"></b></label>
            </div>
        </div>
        <div class="row" style="margin-top:30px">
            <div class="col-lg-6">
                <label>Total Hrs:<b id="total"></b></label>
            </div>
            <div class="col-lg-6">
                <label>Total OT Hrs:<b id="totalOT"></b></label>               
            </div>
            <div class="col-lg-3">
                <label>Total OT1 Normal Hrs:<b id="totalOT1"></b></label>
            </div>
            <div class="col-lg-3">
                <label>Total OT2 WeekOff Hrs:<b id="totalOT2"></b></label>
            </div>
            <div class="col-lg-3">
                <label>Total OT3 Holiday Hrs:<b id="totalOT3"></b></label>
            </div>
            <div class="col-lg-3">
                <label>Total OT4 Night Hrs:<b id="totalOT4"></b></label>
            </div>
        </div>

    <div class="row height-50">

            </div>


            <div class="row">
                @(Html.EJ().Grid<ATS.Core.Domain.DTO.AttendanceViewModel>("FlatGrid")

         .Datasource(ds => ds.URL(Url.Action("SingleEmployeeReportDataSource", "Reports")).Adaptor("UrlAdaptor"))
        .AllowSorting()
        .AllowPaging()
        .ToolbarSettings(toolbar =>
        {
            //toolbar.ShowToolbar(true).CustomToolbarItems(new List<object>() { new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#print" } });
        })
        .Columns(col =>
        {
            col.Field("Date").HeaderText("Date").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(80).Format("{0:dd/MM/yy}").Add();
            col.Field("TimeIn").HeaderText("Check-in").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(75).Add();
            col.Field("TimeOut").HeaderText("Check-out").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(80).Add();
            col.Field("TotalHours").HeaderText("Tot.Hrs").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(80).Add();
            col.Field("TotalOT").HeaderText("OT.Hrs").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(75).Add();
            col.Field("OT1").HeaderText("Normal").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(75).Add();
            col.Field("OT2").HeaderText("WeekOff").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(75).Add();
            col.Field("OT3").HeaderText("Holiday").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(75).Add();
            col.Field("OT4").HeaderText("Night").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(75).Add();
            //col.Field("Status").HeaderText("Status").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(75).Add();
            col.Field("Remarks").HeaderText("Remark").TextAlign(Syncfusion.JavaScript.TextAlign.Center).Width(85).Add();

        }).ClientSideEvents(x => x.ActionBegin("fn_begin").ActionComplete("complete").ToolbarClick("onToolBarClick")))
            </div>


        </div>
</div>

<script id="print" type="text/x-jsrender">
    <a class="e-print e-toolbaricons e-icon"></a>
</script>


<script>

    $(function () {
        $("#btnpdf").click(function () {
            $("#hdstartdate").val($("#startdate").val());
            $("#hdenddate").val($("#enddate").val());
            $("#hdemployeename").val($("#Employee").val());
            $("#hdemployeecode").val($("#EmployeeCode").val());            
            $("#frmsingleEmployeeReport").submit();
        });
    });

    function fn_begin(args) {

        var Name = $("#Name").val();
        var EmployeeCode = $("#EmployeeCode").val();
        this.model.query.addParams("startdate", $('#startdate').val());
        this.model.query.addParams("enddate", $('#enddate').val());
        this.model.query.addParams("employeename", Name);
        this.model.query.addParams("employeecode", EmployeeCode);
    }

    function complete(args) {
         var total = ej.sum(args.model.dataSource, "Amount");
        if (args.model.currentViewData.length > 0) {
            var totalOTHrs = args.model.currentViewData[0].Total;
            var totalOT1Hrs = args.model.currentViewData[0].TotalOT1;
            var totalOT2Hrs = args.model.currentViewData[0].TotalOT2;
            var totalOT3Hrs = args.model.currentViewData[0].TotalOT3;
            var totalOT4Hrs = args.model.currentViewData[0].TotalOT4;
            var totalHrs = args.model.currentViewData[0].SumTotalHrs;
            var sigName = args.model.currentViewData[0].Name;
            var sigCode = args.model.currentViewData[0].EmployeeCode;
            var sigDepartment = args.model.currentViewData[0].Department;
            var sigDesignation = args.model.currentViewData[0].Designation;
            $("#totalOT").html(totalOTHrs);
            $("#totalOT1").html(totalOT1Hrs);
            $("#totalOT2").html(totalOT2Hrs);
            $("#totalOT3").html(totalOT3Hrs);
            $("#totalOT4").html(totalOT4Hrs);
            $("#total").html(totalHrs);
            $("#singleEmpCode").html(sigCode);
            $("#singleEmpName").html(sigName);
            $("#singleDepartment").html(sigDepartment);
            $("#singleDesignation").html(sigDesignation);
        }
        else {
            $("#total").html(0);
            $("#totalOT").html(0);
            $("#totalOT1").html(0);
            $("#totalOT2").html(0);
            $("#totalOT3").html(0);
            $("#totalOT4").html(0);
            $("#singleEmpCode").html("");
            $("#singleEmpName").html("");
            $("#singleDepartment").html("");
            $("#singleDesignation").html("");
        }
    }

    function fn_search() {
        var gridObj = $("#FlatGrid").ejGrid("instance");
        gridObj.refreshContent();
    }

    function fn_reset() {
        $('#startdate').val('');
        $('#enddate').val('');
        $('#Employee').val('');
        $('#EmpCode').val('');
        $("#Name").val('');
        $('#EmployeeCode').val('');

        var gridObj = $("#FlatGrid").ejGrid("instance");
        gridObj.refreshContent();
    }

    function EmployeeChange(args) {
        var utocompleteObj = $("#Employee").data("Employee");
        var id = args.model.value;
        $("#Name").val(id);
    };

    function EmployeeCodeChange(args) {
        var utocompleteObj = $("#EmpCode").data("EmpCode");
        var id = args.model.value;
        $("#EmployeeCode").val(id);
    };

    



</script>


<script>
 

    function onToolBarClick(sender) {
        $("#id_loader").removeClass("loaderhides").addClass("loadershows");
        $("#salaryLoad").addClass("loaderblur-filter");
        atsApp.print();
    }

    var atsApp;
    atsApp = (function (app) {



        app.print = function () {
            var data = {};
            data.startdate = $('#startdate').val();
            data.enddate = $('#enddate').val();
            data.employeename = $("#Name").val();
            data.employeecode = $("#EmployeeCode").val();


            var url = '@Url.Action("SingleEmployeeReportDataSource", "Reports")';

            url = url + "?startdate=" + $('#startdate').val() + "&enddate=" + $('#enddate').val() + "&employeename=" + $("#Name").val() + "&employeecode=" + $("#EmployeeCode").val();
            url = url + "&skip=0&take=10&print=1";
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                success: function (data) {
                    $("#id_loader").removeClass("loadershows").addClass("loaderhides");
                    $("#salaryLoad").removeClass("loaderblur-filter");

                    var myWindow = window.open('', '', 'width=800,height=800,top=200,left=200,toolbars=no,scrollbars=no,status=no,resizable=no');
                    myWindow.document.write(data);
                    myWindow.document.close(); //missing code


                    myWindow.focus();

                    $(myWindow.document).ready(function () {

                        //ej.widget.init($("#FlatGrid"));

                        //$("#FlatGrid").ejGrid("print");

                        setTimeout(function () {
                            myWindow.print();
                            myWindow.close();
                        }, 1000);

                    });

                },
                error: function () {
                    alert('Error');
                }
            });
        };

        return app;
    })(window.atsApp || {})

</script>



