
@using Syncfusion.JavaScript
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> ATTENDANCE GENERATION</h3>
                    <div class="alert dark alert-icon alert-warning alert-dismissible" id="attendanceAlert" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <i class="icon wb-alert" aria-hidden="true"></i> Attendance with same date already exists. if you submit again old attendance will be reverted with New.
                    </div>
                </div>
                <div class="panel-body container-fluid">

                    <!-- Example Vertical -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="steps steps-vertical">

                                <div class="step">
                                    <form action="@Url.Action("UploadExcel","Home")" id="attendanceUploadForm" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="attendancedate" id="hdattendancedate" />
                                        <div class="step-desc">
                                            <span class="step-title">Upload attendance in excel format</span>
                                            <h4 class="example-title">Upload File</h4>
                                            <div class="form-group">
                                                <div class="input-group input-group-file">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-success btn-file col-sm-4">
                                                            <i class="icon wb-upload" aria-hidden="true"></i>
                                                            <input type="file" name="excelfile" value="Upload Attendance" />
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="inputBasicFirstName">Attendance Date</label>
                                                <div class="input-group col-sm-4">
                                                    <span class="input-group-addon">
                                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" id="attendancedate" class="form-control" name="attendancedate" data-plugin="datepicker" data-date-format="mm/dd/yyyy">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary ladda-button" style="margin-left:25px;" data-style="expand-left" data-plugin="ladda">
                                                    <span class="ladda-label">Submit</span>
                                                    <span class="ladda-spinner"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Example Vertical -->
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body container-fluid">
                    @(Html.EJ().Grid<ATS.Core.Domain.DTO.AttendanceViewModel>("FlatGrid")
                        .Datasource(ds => ds.URL(Url.Action("AttendanceData", "Home")).Adaptor("UrlAdaptor"))
                .AllowSorting()
                .AllowPaging()
                .PageSettings(x => x.PageSize(10))
                 .AllowSelection()
              .SelectionType(Syncfusion.JavaScript.SelectionType.Multiple)
                .Columns(col =>
                {
                    col.Field("ID").HeaderText("ID").Width(40).Visible(false).IsPrimaryKey(true).IsIdentity(true).DefaultValue(0).TextAlign(TextAlign.Left).ValidationRules(v => v.AddRule("required", true).AddRule("number", true)).Add();
                    col.Field("EmployeeCode").HeaderText("EmployeeCode").Width(100).Add();
                    col.Field("Name").HeaderText("Name").Width(100).Add();
                    col.Field("TimeIn").HeaderText("Time In").Width(100).Add();
                    col.Field("TimeOut").HeaderText("Time Out").Width(100).Add();
                    col.Field("TotalHours").HeaderText("Total Hours").Width(100).Add();
                    col.Field("Status").HeaderText("Status").Width(100).Add();
                }))


                </div>
            </div>
        </div>
    </div>
</div>

<script>

    @*function fn_excel() {
        var target = $("#zone").data("ejDropDownList");
        var zone = target.getSelectedValue();

        window.location.href = "@Url.Action("DownloadExcelFormat", "Billing")" + "?zoneid=" + zone;

    }*@
    $(function () {
        $("#attendanceAlert").hide();
    })
    
    $("#attendancedate").change(function () {
        var date = $("#attendancedate").val();
        if (date != "") {
           GetAttendanceByDate(date);
           // alert("Date Selected");
        }
        //alert("No Date Selected");
    })

    function GetAttendanceByDate(date) {
        $.post('@Url.Action("GetAttendanceByDate", "home")', { attendanceDate: date }, function (response) {

            if (response) {
                $("#attendanceAlert").show();
            }
            else 
                $("#attendanceAlert").hide();
        });
    }

    $("#attendanceUploadForm").submit(function (event) {
        if (!$("#attendancedate").val()) {
            $("#attendancedate").css("border-bottom", "1px solid red");
            event.preventDefault();
        }
        else
            $("#attendancedate").css("border-bottom", "");
    })

</script>
